<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Newton - Projects</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link rel="stylesheet" type="text/css" href="/resources/styles/libraries/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/styles/libraries/typeahead.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/styles/general.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/styles/new_project.css"/>

        <script src="/resources/scripts/libraries/jquery.js"></script>
        <script src="/resources/scripts/libraries/popper.js"></script>
        <script src="/resources/scripts/libraries/bootstrap.js"></script>
        <script src="/resources/scripts/libraries/typeahead.js"></script>
        <script src="/resources/scripts/views/new_project.js"></script>
    </head>
    <body>
        <!-- Navigation -->
        <div th:replace="fragments/header :: header"></div>

        <!-- Page Content -->
        <div class="container-fluid restricted-width-container">
            <div class="section-divider">
                <h1 class="page-title">New Project</h1>
                <p>A project contains all the files for your project, including the revision history.</p>
            </div>

            <form method="POST" th:action="@{/project/new}" novalidate>

                <!-- General Project Settings -->
                <section class="form-section section-divider">
                    <h4>General Project Settings</h4>
                    <p>Update your project name, description, icon, and other general settings.</p>

                    <div class="form-group">
                        <input type="hidden" id="projectId" name="id" value="foo"/>

                        <label for="projectNameInput">Project name <span class="text-danger">*</span></label>
                        <input id="projectNameInput" name="name" type="text" class="form-control" aria-describedby="projectNameHelp" placeholder="" required="">
                        <small id="projectNameHelp" class="form-text text-muted">Great project names are short and memorable.</small>
                        <div class="invalid-feedback">
                            Please provide a project name.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="projectDescriptionInput">Project Description (optional)</label>
                        <textarea id="projectDescriptionInput" name="description" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="projectIconInput">Project Icon (optional)</label>
                        <input id="projectIconInput" name="icon" type="file" class="form-control-file" >
                    </div>
                </section>

                <!-- Project Membership Settings -->
                <section class="form-section section-divider">
                    <h4>Project Members</h4>
                    <p>Choose who can access this project.</p>

                    <ul class="list-group list-group-flush" id="projectMembers">
                        <li class="list-group-item">
                            <span>Blair</span>
                            <input type="button" class="remove_button" value="remove" />
                        </li>
                        <li class="list-group-item">
                            <span>John</span>
                            <input type="button" class="remove_button" value="remove" />
                        </li>
                        <li class="list-group-item">
                            <span>Xiaolong</span>
                            <input type="button" class="remove_button" value="remove" />
                        </li>
                        <li class="list-group-item">
                            <span>Ziad</span>
                            <input type="button" class="remove_button" value="remove" />
                        </li>
                    </ul>

                    <div class="form-group row">
                        <div class="col-sm-8">
                            <label for="projectMemberInput">Begin typing to select a new member</label>
                            <input id="projectMemberInput" type="text" class="typeahead form-control" placeholder="">
                        </div>
                        <input type="button" class="btn btn-primary col-sm-2 col-form-label" value="Add Member" />
                    </div>
                </section>

                <section class="form-section section-divider">
                    <h4>Project Data Sources</h4>
                    <p>Choose which data sources are available to experiments in this project</p>

                    <ul class="list-group list-group-flush" id="projectDataSources">
                        <li class="list-group-item">
                            <span>Fizzyo heart rate data</span>
                            <input type="button" class="remove_button" value="remove" />
                        </li>
                        <li class="list-group-item">
                            <span>Fizzyo pressure data</span>
                            <input type="button" class="remove_button" value="remove" />
                        </li>
                        <li class="list-group-item">
                            <span>Weather data</span>
                            <input type="button" class="remove_button" value="remove" />
                        </li>
                    </ul>
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <label for="projectDataAdd">Begin typing to select a data source</label>
                            <input id="projectDataAdd" type="text" class="form-control" placeholder="">
                        </div>
                        <input type="button" class="btn btn-primary col-sm-2 col-form-label" value="Add Data Source" />
                    </div>
                </section>

                <input type="submit" class="btn btn-lg btn-primary" value="Create Project"/>
            </form>
        </div>
    
    </body>
    <script>
        function addNewContributor(){
            var name = $("#new_contributor").val();

            if (name == null || name == "")
                alert("please input the new contributor");
            else {
                var removeButton = "<input type=\"button\" class=\"remove_button\"  value=\"remove\" />";
                newName = "<li class=\"list-group-item\">"  + name + removeButton + "</li>";

                $("#current_contributors").append(newName);
                $("#current_contributors li:last input.remove_button").click(function () {
                    $(this).parent().remove();
                });
            }
        }
        $(document).ready(function(){
            var allbutton = $("li input.remove_button");
            allbutton.each(function () {
                $(this).click(function(){
                    $(this).parent().remove();
                })
            });
        });


        var matchingUsers = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,

          remote: {
            url: '/api/user?matching=%QUERY',
            wildcard: '%QUERY'
          }
        });

        $('#projectMemberInput').typeahead(null, {
          name: 'users',
          display: 'name',
          source: matchingUsers
        });

    </script>
</html>