<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
    <head>
        <title>Newton - Profile</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" href="resources/images/common/favicon.ico">

        <link rel="stylesheet" type="text/css" href="/resources/styles/libraries/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/styles/general.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/styles/system.css"/>

        <script src="/resources/scripts/libraries/jquery.js"></script>
        <script src="/resources/scripts/libraries/popper.js"></script>
        <script src="/resources/scripts/libraries/bootstrap.js"></script>
    </head>
    <body>
        <!-- Navigation -->
        <div th:replace="fragments/header :: header"></div>

        <!-- Page Content -->
        <div class="container-fluid">
            <h1 class="page-title">Profile</h1>
        </div>

    </body>
</html>