<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
    <head>
        <title>Newton - Profile</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" href="/resources/images/common/favicon.ico">

        <link rel="stylesheet" type="text/css" href="/resources/styles/libraries/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/styles/general.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/styles/views/settings/profile.css"/>

        <script src="/resources/scripts/libraries/jquery.js"></script>
        <script src="/resources/scripts/libraries/popper.js"></script>
        <script src="/resources/scripts/libraries/bootstrap.js"></script>
    </head>
    <body>
        <!-- Navigation -->
        <div th:replace="fragments/header :: header"></div>

        <!-- Page Content -->
        <div class="container-fluid extra-restricted-width-container">

            <div class="section-divider">
                <h1 class="page-title">Profile</h1>
                <!-- Profile image -->
                <img th:src="'/resources/images/profile/' + ${user.image}" class="rounded-circle profile-pic" alt="Profile picture">

                <!-- Name -->
                <div th:text="'Name: ' + ${user.name}" id="profileName"></div>

                <!-- Email -->
                <div th:text="'Email: ' + ${user.email}" id="profileEmail"></div>

                <!-- Number of projects -->
                <div th:text="'Number of projects owned: ' + ${numOfProjectsOwned}" id="profileNumProjectsOwned"></div>
                <div th:text="'Number of projects a member of: ' + ${numProjectsAMemberOf}" id="profileNumProjectsMember"></div>
                <div th:text="'Number of projects starred: ' + ${numOfProjectsStarred}" id="profileNumProjectsStarred"></div>
            </div>

            <!-- Delete user -->
            <div class="section-divider">
                <h1 class="page-title">Delete User</h1>
                <div class="text-danger">Warning deleteing a user will permentatally delete this user and any data associated with them, this could include deleteing experimants and projects!</div>
                <form th:action="@{'profile/delete'}" method="POST">
                    <input type="submit" class="btn btn-danger delete-btn" value="Delete User"/>
                </form>
            </div>

        </div>

    </body>
</html>