<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
    <head>
        <title>Newton - Settings</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" href="resources/images/common/favicon.ico">

        <link rel="stylesheet" type="text/css" href="/resources/styles/libraries/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/styles/general.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/styles/system.css"/>

        <script src="/resources/scripts/libraries/jquery.js"></script>
        <script src="/resources/scripts/libraries/popper.js"></script>
        <script src="/resources/scripts/libraries/bootstrap.js"></script>
        <script src="/resources/scripts/libraries/typeahead.js"></script>
        <script src="/resources/scripts/libraries/handlebars.js"></script>
        <script src="/resources/scripts/views/settings/settings.js"></script>
    </head>
    <body>
        <!-- Navigation -->
        <div th:replace="fragments/header :: header"></div>

        <!-- Page Content -->
        <div class="container-fluid">
            <h1 class="page-title">System Settings</h1>

            <ul class="nav nav-tabs">
                <li class="nav-item active">
                    <a class="nav-link active" data-toggle="tab" href="#userSettingsTab">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#dataSourcesTab">Data sources</a>
                </li>
            </ul>

            <div class="tab-content">
                <!-- User settings tab -->
                <div id="userSettingsTab" class="tab-pane active fade show">
                    <h4>Change user role</h4>
                    <p>Search for users in the system to change their assigned role</p>

                    <div class="form-group" width="100%">
                        <input id="userInput" type="text" class="typeahead form-control" placeholder="Begin typing to find a user">
                    </div>

                    <div id="userDetails"></div>

                    <ul id="projectMembersList" class="list-group list-group-flush">
                    </ul>

                    <div id="roleRadioDiv">
                        <p>Role</p>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" id="adminRadio" name="optradio" value="admin">Admin
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" id="orgLeadRadio" name="optradio" value="organisationLead"> Organisation Lead
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" id="userRadio" name="optradio" value="user">User
                            </label>
                        </div>
                        <button type="button" class="btn btn-primary" id="setUserRoleBtn">Update Role</button>
                    </div>

                </div>

                <!-- data sources tab -->
                <div id="dataSourcesTab" class="tab-pane fade">
                    <p>Data sources place holder</p>
                </div>
        </div>

    </body>
</html>