### Gradle ###
.gradle
build/

### Eclipse ###
.classpath
.project
.settings

### IntelliJ ###
.idea
*.iws
*.iml
*.ipr
out/
bin/

\.vscode/

application/master/src/main/webapp/resources/plugins/processor/
application/plugins/python/src/test/resources/python\.jar
