### Gradle ###
.gradle
build/

### Eclipse ###
.classpath
.project
.settings

### IntelliJ ###
.idea
*.iws
*.iml
*.ipr
out/
bin/

### Visual Studio Code ###
\.vscode/

### Backstop to ignore test jars ###
application/master/src/main/resources/plugins/data/
application/plugins/jupyter/src/test/resources/jupyter\.jar
