.message_container {
    width: 100%;
    max-width: 20rem;
    margin-left: auto;
    margin-top: 7rem;
    margin-right: auto;
    text-align: center;
}

.message_container p {
    margin-top: 1rem;
}

.message_container a {
    margin-top: 1rem;
}

.control_container {
    float:right;
    margin: 1rem;
}

.statistics_container * {
    margin-bottom: 0.5rem;
}

.statistics_container p {
    margin-left: 1rem;
}

.file_output a {
    float: right;
}

#version-switcher {
    margin-top: 0.5rem;
}

#visualization-tab {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}