.logo-black {
    content: url("/resources/images/logo-black.png");
}

.logo-white {
    content: url("/resources/images/logo-white.png");
}

.star {
    width: 1em;
    height: 1em;
    content: url("/resources/images/star.svg");
}

.no-star {
    width: 1em;
    height: 1em;
    content: url("/resources/images/no-star.svg");
}

.avatar {
    width: 1.5em;
    height: 1.5em;
}

.navbar {
    background-color: #00467d;
}

.nav-link {
    padding: 10px 20px 10px 20px;
    color: #707070;
}

.nav-tabs .nav-link.active {
    color: #000000;
    font-weight: 600;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: 2px solid #00467d;
}

.nav-tabs .nav-link:hover {
    color: #000000;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: 2px solid #707070;
}

.nav-tabs .nav-link:focus {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.brand_container span {
    vertical-align: middle;
    margin-left: 0.5rem;
}

.page-title {
    font-size: 1.2em;
    margin-top: 1em;
}

.restricted-width-container {
    max-width: 62.5rem;
}

.section-divider {
    padding-bottom: 0.75rem;
    border-bottom: 1px solid #eee;
}