.project-list {
    display: flex;
    margin-left: 1em;
    margin-right: 1em;
}

.project-list tbody{
    width: 100%;
}

.project-row {
    display: flex;
    align-items: center;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.project-row-underline {
    border-bottom: 1px solid #eee;
}

.project-column-expand {
    width: 99%
}

.aligned-cell {
    display: flex;
    align-items: center;
}

.aligned-right {
    justify-content: flex-end;
}

.cell-text {
    display: block;
    white-space: nowrap;
}

.project-icon-container {
    margin-right: 0.6em;
}

.project-icon-container a {
    text-decoration: none;
}

.project-name-container a {
    color: #000000;
    font-weight: 600;
}

.page-title {
    display: inline-block;
}

#projectList {
    width:100%;
}

#projectList thead, #projectListStarred thead {
    display:none;
}

#dropdownMenuButton {
    margin-left: 1em;
}

#newProjectBtn {
    margin-left: 1em;
}

#projectList_paginate {
    margin-left: auto;
}

#projectListStarred_paginate {
    margin-left: auto;
}