# Newton (c)
#
# This work is licensed under the MIT License. To view a copy of this
# license, visit
#
#      https://opensource.org/licenses/MIT
#
# This script defines the Newton application service, allowing the newton web
# server to be started and stopped as a daemon.
#
# Author: Blair Butterworth
#

[Unit]
Description=Newton Service

[Service]
Type=simple
ExecStart=/usr/sbin/newton.sh

[Install]
WantedBy=multi-user.target
