<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
    <head>
        <title>Newton - Projects</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" href="resources/images/common/favicon.ico"/>

        <link rel="stylesheet" type="text/css" href="/resources/styles/libraries/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/styles/general.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/styles/experiment.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/styles/views/project/icons.css"/>

        <script src="/resources/scripts/libraries/jquery.js"></script>
        <script src="/resources/scripts/libraries/popper.js"></script>
        <script src="/resources/scripts/libraries/bootstrap.js"></script>
        <script type="text/javascript" src="/resources/scripts/views/project/details.js"></script>
        <script type="text/javascript" src="/resources/scripts/views/project/icons.js"></script>
    </head>
    <body>
        <!-- Navigation -->
        <div th:replace="fragments/header :: header"></div>

        <!-- Page Content -->
        <div class="container-fluid">
            <h1 class="page-title" >
                <a  href="/projects"> Projects</a>
                <a  th:text="@{'/ '+${project.name}}" > / project name</a>
            </h1>

            <input type="hidden" id="identifier" th:value="${project.identifier}" />

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Experiments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{'/project/' + ${project.identifier} + '/settings'}">Project Settings</a>
                </li>
                <li class="nav-item ml-auto">
                    <button th:text="${project.getMembersThatStar().contains(user)}? 'Unstar' : 'Star'" type="button" class="btn btn-primary" id="starBtn"></button>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" th:href="@{'/project/' + ${project.identifier} + '/new'}" role="button" id="newExpBtn">New Experiment</a>
                </li>
            </ul>


            <table class="experiment-list">
                <tr th:each="experiment, iteration : ${experiments}" class="experiment-row experiment-row-underline">
                    <td class="experiment-column experiment-icon-container">
                        <a href="#" th:href="@{'/project/' + ${project.identifier} + '/' + ${experiment.identifier}}">
                            <div class="rounded default-icon">
                                <div th:text="${#strings.substring(#strings.capitalize(experiment.name), 0, 1)}" class="rounded default-icon-text"></div>
                            </div>
                        </a>
                    </td>
                    <td class="experiment-column experiment-column-expand experiment-name-container">
                        <a href="#" th:href="@{'/project/' + ${project.identifier} + '/' + ${experiment.identifier}}">
                            <span th:text="${experiment.name}" class="experiment-name">experiment name</span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>