<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Newton - Projects</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" href="/resources/images/common/favicon.ico" />

        <link rel="stylesheet" type="text/css" href="/resources/styles/libraries/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/styles/libraries/data_tables.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/styles/general.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/styles/views/project/list.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/styles/views/project/icons.css"/>

        <script src="/resources/scripts/libraries/jquery.js"></script>
        <script src="/resources/scripts/libraries/popper.js"></script>
        <script src="/resources/scripts/libraries/bootstrap.js"></script>
        <script src="/resources/scripts/libraries/data_tables_jquery.js"></script>
        <script src="/resources/scripts/libraries/data_tables_bootstrap.js"></script>
        <script type="text/javascript" src="/resources/scripts/views/project/list.js"></script>
        <script type="text/javascript" src="/resources/scripts/views/project/icons.js"></script>
    </head>
    <body>
        <!-- Navigation -->
        <div th:replace="fragments/header :: header"></div>

        <!-- Page Content -->
        <div class="container-fluid">

            <!-- Page tabs -->
            <div th:replace="fragments/list_tabs :: list_tabs(true)"></div>

            <!-- Starred projects -->
            <div th:replace="fragments/project_list :: project_list(*{__@{starredProjects}__}, 'projectList')"></div>

        </div>
    </body>
</html>