<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Newton - Projects</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" href="resources/images/common/favicon.ico" />

        <link rel="stylesheet" type="text/css" href="/resources/styles/libraries/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/styles/libraries/data_tables.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/styles/general.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/styles/project.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/styles/views/project/icons.css"/>

        <script src="/resources/scripts/libraries/jquery.js"></script>
        <script src="/resources/scripts/libraries/popper.js"></script>
        <script src="/resources/scripts/libraries/bootstrap.js"></script>
        <script src="/resources/scripts/libraries/data_tables_jquery.js"></script>
        <script src="/resources/scripts/libraries/data_tables_bootstrap.js"></script>
        <script type="text/javascript" src="/resources/scripts/views/project/list.js"></script>
        <script type="text/javascript" src="/resources/scripts/views/project/icons.js"></script>
    </head>
    <body>
        <!-- Navigation -->
        <div th:replace="fragments/header :: header"></div>

        <!-- Page Content -->
        <div class="container-fluid">

            <!-- Title -->
            <div>
                <h1 class="page-title">Projects</h1>
            </div>

            <!-- Tabs and list filters -->
            <ul class="nav nav-tabs">
                <li class="nav-item active">
                    <a class="nav-link active" data-toggle="tab" href="#allProjects">Your projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#starredProjects">Starred projects</a>
                </li>
                <li class="nav-item ml-auto">
                    <input class="form-control" id="filterInput" type="text" placeholder="Filter..">
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Most recently updated
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">Most recently updated</a></li>
                            <li><a class="dropdown-item" href="#">Least recently updated</a></li>
                            <li><a class="dropdown-item" href="#">Project name A-Z</a></li>
                            <li><a class="dropdown-item" href="#">Project name Z-A</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"> <!-- Should be org lead in he end -->
                    <a class="btn btn-primary" href="/project/new" role="button" id="newProjectBtn">New Project</a>
                </li>
            </ul>

            <!-- Project list panel -->
            <div class="tab-content">
                <div id="allProjects" class="tab-pane active fade show">
                    <div th:replace="fragments/project_list :: project_list(*{__@{projects}__}, 'projectList')"></div>
                </div>
                <div id="starredProjects" class="tab-pane fade">
                    <div th:replace="fragments/project_list :: project_list(*{__@{starredProjects}__}, 'projectListStarred')"></div>
                </div>
            </div>
        </div>
    </body>
</html>