<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
    <head>
        <title>Newton - Projects</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" href="resources/images/common/favicon.ico">

        <link rel="stylesheet" type="text/css" href="/resources/styles/libraries/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/styles/libraries/typeahead.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/styles/general.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/styles/views/project/new.css"/>

        <script src="/resources/scripts/libraries/jquery.js"></script>
        <script src="/resources/scripts/libraries/popper.js"></script>
        <script src="/resources/scripts/libraries/bootstrap.js"></script>
        <script src="/resources/scripts/libraries/typeahead.js"></script>
        <script src="/resources/scripts/libraries/handlebars.js"></script>
        <script src="/resources/scripts/views/project/new.js"></script>
        <script src="/resources/scripts/views/form_validation.js"></script>
    </head>
    <body>
        <!-- Navigation -->
        <div th:replace="fragments/header :: header"></div>

        <!-- Page Content -->
        <div class="container-fluid restricted-width-container">
            <div class="section-divider">
                <h1 class="page-title">New Project</h1>
                <p>A project contains all the files for your project, including the revision history.</p>
            </div>

            <div th:if="${error != null}" class="alert alert-danger" role="alert" >
                <span th:text="${error}">Error message</span>
            </div>

            <form id="projectDetails" th:action="@{/project/new}" method="POST" enctype="multipart/form-data" class="requires-validation" novalidate="novalidate">
                <!-- General Settings -->
                <section class="form-section section-divider">
                    <h4>General Project Settings</h4>
                    <p>Update your project name, description, icon, and other general settings.</p>

                    <div class="form-group">
                        <label for="projectNameInput">Project name <span class="text-danger">*</span></label>
                        <input id="projectNameInput" name="name" type="text" class="form-control" placeholder="" required="required">
                        <div class="invalid-feedback" id="noNameErrorMsg">Please provide a project name.</div>
                    </div>

                    <div class="form-group">
                        <label for="projectDescriptionInput">Project Description (optional)</label>
                        <textarea id="projectDescriptionInput" name="description" class="form-control" rows="3"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Project Icon (optional)</label>
                        <div class="custom-file">
                            <input id="projectIconInput" name="image" type="file" accept="image/*" class="custom-file-input" >
                            <label id="projectIconLabel" class="custom-file-label" for="projectIconInput">
                                Choose image...
                            </label>
                            <div class="invalid-feedback">Please provide an image (JPEG, PNG, GIF) smaller than 1MB.</div>
                        </div>
                    </div>
                </section>

                <!-- Project Members -->
                <section class="form-section section-divider">
                    <h4>Project Members</h4>
                    <p>Choose who can access this project.</p>

                    <ul id="projectMembersList" class="list-group list-group-flush">
                        <p id="projectMembersListEmpty" class="empty_message project-list-item">This project doesn't have any members yet. Use the form below to add a members.</p>
                    </ul>

                    <select id="projectMembersData" form="projectDetails" name="members" multiple="multiple" hidden="hidden">
                    </select>

                    <div class="form-row add_form_group">
                        <div class="form-group col-sm-10">
                            <label for="projectMemberInput">Begin typing to select a new member</label>
                            <input id="projectMemberInput" type="text" class="typeahead form-control" placeholder="">
                        </div>
                        <div class="form-group col-sm-2">
                            <input type="button" class="btn btn-primary add_button" value="Add Member" />
                        </div>
                    </div>
                </section>

                <!-- Project Data Sources -->
                <section class="form-section section-divider">
                    <h4>Project Data Sources</h4>
                    <p>Choose which data sources are available to experiments in this project</p>

                    <ul>
                        <li th:each="dataSource : ${dataSources}">
                            <input type="checkbox" class="form-check-input" name="sources" th:value="${dataSource.identifier}" />
                            <label th:text="${dataSource.name}"></label>
                        </li>
                    </ul>

                </section>

                <input type="submit" class="btn btn-primary float-right create-button" id="createProjectBtn" value="Create Project"/>
            </form>
        </div>
    
    </body>
</html>