<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/resources/styles/general.css"/>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark" th:fragment="header">
            <!-- Logo -->
            <a class="navbar-brand" href="/projects">
                <img src="/resources/images/logo-white.png" width="30" height="30" alt="">
                Newton
            </a>

            <!-- Button for menu containing nav items that cannot be displayed due to available window width -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navigation Entries -->
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown pull-right">

                        <!-- Profile Icon -->
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img th:src="@{'/resources/images/profile/' + ${user.image}}" class="rounded-circle avatar" alt="Profile picture">
                        </a>

                        <!-- Menu Options -->
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <span th:text="${user.name}" class="p-4 text-muted">User name</span>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/profile">Profile</a>
                            <a class="dropdown-item" href="/settings" sec:authorize="hasRole('ROLE_ADMINISTRATOR')">Settings</a>
                            <div class="dropdown-divider"></div>
                            <form name="logoutForm" th:action="@{/logout}" method="post">
                                <input class="dropdown-item btn" type="submit" value="Sign Out"/>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </body>
</html>