<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
    <head>

    </head>
    <body>
        <div th:fragment="project_list(projects, tableId)">
            <table class="project-list" th:id="${tableId}" style="width:100%">
                <thead>
                <th>icon</th>
                <th>name</th>
                <th>details</th>
                </thead>
                <tr th:each="project, iteration : ${projects}" class="project-row project-row-underline">
                    <td class="project-column project-icon-container">
                        <a href="/projects" th:href="@{'/project/' + ${project.identifier}}">
                            <span th:if="${project.image} != 'default.png'"><img th:src="@{'/resources/images/project/' + ${project.image}}" class="rounded" alt="Project image" width="48" height="48"></span>
                            <div th:if="${project.image} == 'default.png'" class="default-icon">
                                <div th:text="${#strings.substring(#strings.capitalize(project.name), 0, 1)}" class="rounded default-icon-text"></div>
                            </div>
                        </a>
                    </td>
                    <td class="project-column project-column-expand project-name-container">
                        <a href="/projects" th:href="@{'/project/' + ${project.identifier}}">
                            <span th:text="${project.name}">project name</span>
                        </a>
                    </td>
                    <td class="project-column project-state-container" th:attr="data-order=${project.getLastUpdatedAsEpoch()}">
                        <div class="aligned-cell aligned-right">
                            <span th:if="${starredProjects.contains(project)}"><img class="star"></span>
                            <span th:unless="${starredProjects.contains(project)}"><img class="no-star"></span>
                        </div>
                        <span th:text="${project.getLastUpdatedDescription()}" th:class="cell-text">last updated</span>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>