<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Server error</title>
    <link rel="stylesheet" type="text/css" href="/resources/styles/libraries/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/styles/general.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/styles/views/errors/error.css"/>

    <script src="/resources/scripts/libraries/jquery.js"></script>
    <script src="/resources/scripts/libraries/popper.js"></script>
    <script src="/resources/scripts/libraries/bootstrap.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <!-- Logo -->
        <a class="navbar-brand" href="/projects">
            <img src="/resources/images/logo-white.png" width="30" height="30" alt="">
            Newton
        </a>

    </nav>

    <div class="text-center error-content">
        <img src="/resources/images/common/newton.png" class="mx-auto d-block">
        <h4 class="text-center">Sorry there was a problem</h4>
        <a href="/projects" class="btn btn-primary">Home</a>
    </div>
</body>
</html>